.dropdown-container {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 140px;
    background-color: #a27272;
    border-bottom: 3px solid #80808024;
}

.dropdown-content.open {
    display: block;
    background-color: burlywood;
    margin-left: 19px;
    margin-top: 5px;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9c173;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 3px solid #12121224;
}

.dropdown-menu li:hover {

    cursor: pointer;
    color: white;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-button {
    background: transparent;
    border: none;
    height: 100%;
}