@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #3d6a9d;
  flex-direction: row;
  flex-wrap: wrap;
}

.content{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  flex-direction: row;
  flex-wrap: wrap;    
}

.left_box{
    width: 40%;
    text-align: justify;
}

.middle_box{
   
}

.topic{
    color: black;
}

.paragraph-foot {
    color: white;
    width: 400px;
}

.map-pic {
    width: 354px;
    height: 305px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-right: 120px;
 
   
}

.spacing-contact {
margin-top: 40px;

}

.para1-hidden {
  display: none;
  color: white;
}

.right_box{
    
}

footer a:hover {
    color: #eb2f06;
  }


  @media (max-width: 960px) {
    .paragraph-foot {
        display: none;
    }

    .para1-hidden {
        display: block;
    }
}