* {
    box-sizing: border-box;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("https://neomotor.sport.es/media/2020/08/cinerataques-a-concesionarios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 30px;
    align-items: center;
    padding-right: 40px;
}

.spacing-words {
    padding-left: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 30px;
}

.spacing-divs {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    transition: box-shadow .4s;
    font-size: 13px;
    color: #c9c9c9;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 85px;
    padding-bottom: 64px;
    border-bottom: 1px solid #504d4d;
}

.official-title {
    padding-left: 20px;
    color: white;
    font-size: 30px;
    font-family: "Playfair Display", Georgia, serif;
    margin-top: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    margin-top: 6%;
}

.refs {
    width: 105px;
    height: 85px;
    display: inline;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: box-shadow .4s;
    margin-left: 30px;
}

li {
    list-style-type: none;
}

.hidden-bars {
    display: none;
}

.flex-containers {
    display: flex;
    align-items: center;
}

.underlined {
    text-decoration: none !important;
    color: white;
    font-size: 17px;
}

.underlined:hover {
    color: #5beb90;
}

.webdesign-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-bar {
    display: flex;
    flex-flow: row;
    padding-left: 10%;
    width: 600px;
}

.webdesign-title {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 37px;
    font-weight: normal;
}

.webdesign-text {
    font-size: 14px;
    line-height: 23px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    margin-top: 168px;
}

.flex-content {
    display: flex;
    align-items: center;
    padding-left: 15%;
    width: 505px;
}

.webdesign-find {
    font-weight: bold;
    margin-right: 10px;
    border-bottom: 1px solid rgb(144, 124, 55);
    width: 108px;
    height: 23px;
}

.arrow-svg.open {
    transform: rotate(180deg);
}

.arrow-svg {
    transform: rotate(0deg);
    transition: .3s transform;
    cursor: pointer;
    padding-left: 10px;
}

.arrow-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    opacity: 0;
    transition: .4s opacity;
}

.arrow-up.visible {
    opacity: 1;
}

img.logo {
    width: 80px;
    height: 80px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-left: 40px;
}

.carousel-control-next,
.carousel-control-prev {
    height: auto;
}

.full-carousel {
    width: 100%;
    height: 100%;
    position: absolute;
}

.absolute-paragraph {
    position: absolute;
    z-index: 3;
    width: 40%;
    padding-top: 15%;
    padding-left: 8%;
    opacity: 0.9;
}

.paragraph-description {
    border: double;
    background-color: #f2e5e4;
    border-radius: 30px;
    margin: 5px;
    text-align: justify;
}

.padmar {
    margin: 10px;
}

.para1-hidden {
    display: none;
}

.secondSection {
    height: auto;
    background-color: rgb(249, 238, 224);
    padding-top: 50px;
}

.second-window-title {
    text-align: center;
    color: rgb(61, 59, 59);
    font-size: 60px;
    font-family: "Playfair Display", Georgia, serif;
    margin-bottom: 30px;
    margin-top: 80px;
}

.description-aboutus {
    text-align: center;
    color: rgb(61, 59, 59);
    font-size: 24px;
    font-family: "Playfair Display", Georgia, serif;
    margin-bottom: 100px;
    margin-left: 8%;
    margin-right: 8%;
}

.align-card-persons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-person {
    width: 273px;
    text-align: center;
    margin-bottom: 80px;
}

.circle-pictures {
    display: flex;
    border-collapse: collapse;
    display: inline-block;
    justify-content: space-around;
    position: relative;
    border: 3px solid #df001b;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.paragraph-style-profile {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.rectangle-info {
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 272px;
    height: 210px;
    border: 2px solid darkslategrey;
    border-radius: 13px;
    padding-top: 10px;
    background: linear-gradient(to bottom, #e575757a, white);
}

.info-text {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}

.info-subtext {
    font-size: 14px;
    margin: 5%;
    text-align: justify;
}

.fourthSection {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;
}

.center-div {
    width: 100%;
    height: 85%;
    background-color: #c3d4dd;
}

.title-section {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 80px;
    font-weight: bolder;
}

.center-card {
    width: 25%;
    height: 50%;
}

.title-card {
    font-weight: bold;
    font-size: 20px;
}

.stars-card {
    color: yellow;
    margin-bottom: 19px;
}

.text-card {
    font-style: italic;
}

.review-card {
    font-size: 13px;
    padding-top: 3%;
    font-weight: bold;
    margin-bottom: 50px;
}

.flex-cards {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.stars {
    color: #54c0d7;
    margin-left: 6px;
}

.title {
    color: #54c0d7;
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: auto;
}

.date {
    color: #7e7e7e;
    font-size: 8px;
    margin-left: 6px;
    margin-top: 2px;
}

.paragraph {
    font-size: 14px;
    margin-left: 6px;
}

.booking {
    color: #7e7e7e;
    margin-left: 6px;
}

.align,
.btns {
    display: flex;
}

.reference {
    font-size: 9px;
    margin-left: 6px;
}

.boxes {
    border: none;
    outline-color: transparent;
    border-bottom: 2px solid #b2ced3;
    margin-bottom: 12px;
}

.left {
    margin-left: 14px;
}

.boxesdate {
    border: none;
    border-bottom: 2px solid #b2ced3;
    margin-bottom: 12px;
    outline-color: transparent;
    width: 95px;
    font-size: 11px;
    margin-left: 6px;
    margin-right: 1px;
}

.accept {
    font-size: 12px;
}

.book {
    margin-left: 10px;
    background-color: #0897e8;
    color: white;
    border-radius: 2px;
    border: #0897e8;
    height: 28px;
    width: 62px;
    border-style: solid;
}

.book:hover {
    background-color: white;
    color: #0897e8;
}

.cancel {
    margin-left: 6px;
    background-color: #cbaa14;
    color: white;
    border-radius: 2px;
    border: #cbaa14;
    height: 28px;
    width: 75px;
    border-style: solid;
}

.cancel:hover {
    background-color: white;
    color: #cbaa14;
}

.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    box-shadow: 0px 6px 5px -6px rgb(0 0 0 / 75%);
    background: linear-gradient(to bottom, black, white);
}

.redContenedor {
    background-color: red;
    width: 100%;
}

a {
    text-decoration: none !important;
    background-color: transparent;
}

.open-button {
    background: none;
    border: none;
    cursor: pointer;
}

.column-bars-short {
    width: 30px;
    height: 2px;
    background-color: rgb(144, 124, 55);
    margin-left: 5px;
}

.column-bars-long {
    width: 34px;
    height: 2px;
    background-color: rgb(144, 124, 55);
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 1px;
}

.sidebar {
    background-color: rgb(199, 103, 103);
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 1s left;
}

.sidebar.open {
    left: 0px;
}

.container {
    position: relative;
}

.hidden-button-cross {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Creación media queries: */

@media (max-width: 980px) {
    .webdesign-text {
        width: 450px;
    }
}

@media (max-width: 960px) {

    .flex-container {
        display: none;
    }

    .underlined {
        display: none;
    }


    .hidden-bars {
        display: block;
        padding-top: 30px;
    }

    .arrow-svg {
        display: none;
        cursor: pointer;
    }

    .bars {
        position: relative;
        top: 85px;
        left: 9%;
    }

    .pack-containers {
        display: flex;
        justify-content: space-around;
    }

    .absolute-paragraph {
        margin: 0px auto;
        width: 70%;
        position: relative;
        padding-top: 600px;
        padding-left: 0%;
        opacity: 0.9;
    }

    .para1-showing {
        display: none;
    }

    .para1-hidden {
        display: block;
    }
}

@media (max-width: 880px) {
    .absolute-paragraph {
        margin: 0px auto;
        width: 70%;
        position: relative;
        padding-top: 580px;
        padding-left: 0%;
        opacity: 0.9;
    }
}

@media (max-width: 820px) {
    .absolute-paragraph {
        margin: 0px auto;
        width: 70%;
        position: relative;
        padding-top: 540px;
        padding-left: 0%;
        opacity: 0.9;
    }
}

@media (max-width: 760px) {
    .absolute-paragraph {
        margin: 0px auto;
        width: 70%;
        position: relative;
        padding-top: 500px;
        padding-left: 0%;
        opacity: 0.9;
    }
}

@media (max-width: 700px) {
    .absolute-paragraph {
        margin: 0px auto;
        width: 70%;
        position: relative;
        padding-top: 460px;
        padding-left: 0%;
        opacity: 0.9;
    }
}

@media (max-width: 600px) {

    .official-title {
        padding-left: 3px;
    }

    .underlined {
        display: none;
    }


    .hidden-bars {
        display: block;
    }

    .bars {
        display: none;
    }

    .webdesign-text {
        width: 400px;
    }

    .absolute-paragraph {
        margin: 0px auto;
        width: 70%;
        position: relative;
        padding-top: 400px;
        padding-left: 0%;
        opacity: 0.9;
    }
}