.open-button {
    background: none;
    border: none;
    cursor: pointer;
}


.column-bars-short {
    width: 30px;
    height: 2px;
    background-color: rgb(144, 124, 55);
    margin-left: 5px;
}

.column-bars-long {
    width: 34px;
    height: 2px;
    background-color: rgb(144, 124, 55);
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 1px;
}


.sidebar {
    background-color: rgb(199, 103, 103);
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 1s left;
}

.sidebar.open {
    left: 0px;
}

.container {
    position: relative;
}

.hidden-button-cross {
    background-color: transparent;
    border: none;
    cursor: pointer;
}